Button {
    margin: 10px;
}

.separar {
    margin-top: 50px;
}

.categorias {
    color: rgb(87, 87, 87);
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0px;
}

.container {
    background-color: #fafcfd;
    width: 100%;
    padding: 0px;
    min-width: 1000px;  
}

.btn-primary {
    color: black;
    background-color: #fff;
    border-color: #F5F5F5;
}

.btn-primary:hover {
    color: black;
    background-color: #fff;
    border-color: #F5F5F5;
}

.show>.btn-primary.dropdown-toggle {
    color: black;
    background-color: #fff;
    border-color: #F5F5F5;
}

.newPost {
    background-color:#fff;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 6px;
    border: rgb(182, 182, 182) solid 2px;
    margin-bottom: 70px;
    margin-left: 50px;
    margin-right: 50px;
}

.posts {
    margin-left: 50px;
    margin-right: 50px;
    border: 2px rgb(170, 191, 200) solid;
    padding: 20px
}

.infosPost {
    font-size: .8rem;
    padding-left: 20px;
    padding-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.bt_pontos {
    padding-left: 7px;
    padding-right: 7px;
    width: 30px;
    height: auto;
}

.alerta {
    color: red;
}
